/*MAIN CSS*/

@font-face {
    font-family: 'rubik_oneregular';
    src: url('rubikone/rubikone-regular-webfont.woff2') format('woff2'),
         url('rubikone/rubikone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

hmtl {}
body {
	font-family: 'rubik_oneregular', Monospace, sans-serif;
	margin: 0px;
	padding: 0px;
	color: #FFF;
	text-align: center;
	background-color: #000;
	background-image: url('images/zur.glub_bg_grey.jpg');
	background-position: center;
	background-attachment: fixed;
	background-size: 120%;
}

article {
	border-left : 10px solid #222;
	padding-left: 10px;
	margin-bottom: 10px;
}

h1,h2,h3,h4,h5,h6,p,hr { margin:0 0 10px 0;padding:0; }

h1 {
	font-size: 4em;
	color: #FFF;
	letter-spacing: 0.0em;
	margin-top: 0.5em;
}
h2 {
	font-size: 2em;
	color: #FFF;
	text-align: right;
	background: rgba(0,0,0,0.8);
	padding: 5px 20px 5px 5px;
	margin-top: 1em;
	clear: both;
}
h2::before {
	content: '.';
}
p {
	font-size: 1.2em;
	line-height: 1.3em;
}
a {
	color: #000;
	background: linear-gradient(to right, #ff00c5, #ff001c);
	text-decoration: none;
	padding: 0 3px 0 3px;
}
a:hover {
	color: #ff0044;
	background: linear-gradient(to right, #ff0044, #fff, #fff, #ff0044);
	background-size: 4px 100%;
	animation: ahover 2s linear infinite;
}
@keyframes ahover {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

a img {}
a.anchor { 
	padding: 0;
	clear: both;
	float: left;
}
hr {
	height: 5px;
	background: #0F9;
	border: 0px;
}
table, tr {
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	border-collapse: collapse;
}
table {
	margin-bottom: 10px;
}
td, th {
	text-align: left;
	padding: 0;
	margin: 0;
	border-bottom: 2px solid #000;
}
td {
	vertical-align: top;
	background: #333;
	padding: 2px;
	padding-right: 10px;
}
table h3 {
	padding: 3px;
	margin: 0px;
}
pre {
	margin: 10px 0;
	padding: 3px;
	font-size: 1.1em;
	background: #555;
}
img {
	max-width: 100%;
}

div.mainbg {
	width: 100%;
	background-image: url('images/zur.glub_bg_alpha.png');
	background-position: center;
}

div.main {
	max-width: 800px;
	margin: 0px auto;
	display: block;
	position: relative;
	text-align: left;
}

p.shortcuts {
	background: rgba(0,0,0,0.5);
	padding: 5px;
	border: none;
}
div.gallery {
	float: left;
	width: 100%;
	clear: both;
	margin-bottom: 1em;
}
div.gallery a {
	margin: 0;
	padding: 0;
	line-height: 0;
	position: relative;
	float: left;
}
div.gallery img {
	margin: 0;
	padding: 0;
}
